# NODE_ENV: production or development
NODE_ENV=production

# PORT: Local server listening port
PORT=3000

# ALLOWED_ORIGIN: Allowed origins for CORS (e.g. * or portal domain)
ALLOWED_ORIGIN=*

# APP_URL: The URL where this app is hosted
APP_URL="http://localhost:3000"
